<section class="card">
  <a href="/Books/{{id}}">
    <header>{{title}}></header>
    {{!-- <img src="/images/{{books}}" alt="{{books.[0]synopsis}}"> --}}
    <p>Author: {{author}}</p>
  </a>
</section>