<section class="card">
  <a href="/movies/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{getImageFileName title}}.jpg" />
      <p>{{synopsis}}"></p>
      <p>By: {{director}}</p>
    </div>
  </a>
</section>