<section class="card">
  <a href="/movies/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{movies}}" <!--alt="{{synopsis}}">-->
      <p>By: {{director}}</p>
    </div>
  </a>
</section>