<section class="card">
  <a href="/music/{{id}}">
    <header>{{song_title}}</header>

    <div class="card-body">
      <img src="/images/{{music}}" <!--alt="{{song_title}}">-->
      <p>By: {{band_title}}</p>
    </div>
  </a>
</section>