{{#if loggedIn}}
<section class="books">
  <img src="/images/{{painting.filename}}" alt="{{painting.description}}"><!--images for the books-->
  <div class="books-details">
    <h3>{{books.title}}</h3>
    <p>By: {{title.author}}</p>
    <p>Realease Date: {{release_date}} <!--{{ format_date painting.exhibition_date}}--></p>
  </div>
</section>
{{else}}
<a href="/login">Login to check what we have for more</a>
{{/if}}